*{
    margin:0;
    padding:0;
}

body{
    background-image: url('img/FunGames.png');
    background-repeat: no-repeat;
  background-size: cover;
}
.welcome{
    background-color:rgb(116, 209, 217, 0.7);
    opacity: 20;
    text-align: center;
    margin: auto 300px;
    margin-top: 20px;
    border-radius: 20px;
}
h1{
    font-size: 50px;
    font-family: 'Piedra', cursive;
    text-align: center;
    margin-top: 10px;
}
p{
    font-size: 40px;
    font-family: 'Lobster', cursive;
    text-align: center;
    margin-top: 10px;
}
ul li {
    position: relative;
    display: inline-block;
    margin:0px 15px 0px 15px;
    top: 15px;
    left: 63%;

}
ul li a{
    position: relative;
    text-decoration: none;
    color: #000000;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
}
.rock{
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 400px;
    border-radius: 60px;
}
.guess{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 400px;
    border-radius: 60px;
}
.quiz{
    margin-left: 450px;
    margin-bottom: 10px;
    width: 400px;
    height: 400px;
    border-radius: 60px;
}
